"*":
  "atom-beautify": {}
  core:
    disabledPackages: [
      "atom-color-highlight"
      "recent-files"
      "syntax-settings"
      "atom-jshint"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 20
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "fc4760d0-597d-df98-4b64-e02bfcc8533a"
  linter:
    ignoredLinterErrors: [
      "rubocop"
    ]
  "linter-erb":
    erbExecutablePath: "/Users/kurt/.rbenv/shims/erb"
  "linter-flake8":
    executablePath: "/Users/kurt/.pyenv/shims/flake8"
  "linter-pep8":
    pep8ExecutablePath: "/Users/kurt/.pyenv/shims/pep8"
  "linter-pyflakes":
    executablePath: "/Users/kurt/.pyenv/shims/pyflakes"
  "linter-rubocop":
    command: "/Users/kurt/.rbenv/shims/rubocop"
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: false
    executablePath: "/Users/kurt/.rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 81
  metrics:
    userId: "36881f89c703f50fa973f66ad1c602dbe0578d7a"
  pep8:
    PEP8Path: "/Users/kurt/.pyenv/shims/pep8"
    ignoreErrors: []
  "release-notes":
    viewedVersion: "0.94.0"
  "syntax-settings":
    source:
      python:
        editorSettings:
          tabLength: 4
        editorViewSettings:
          showIndentGuide: true
          showInvisibles: true
          softWrap: false
        gutterViewSettings:
          showLineNumbers: true
      ruby:
        editorSettings:
          tabLength: 2
        editorViewSettings:
          showIndentGuide: true
          showInvisibles: true
          softWrap: false
        gutterViewSettings:
          showLineNumbers: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".js.regexp.source":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
